html{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/163/415/702/animal-farm-cow-summer-wallpaper-preview.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
}
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: black;
}

.calendar_task{
    color: red;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
}

button, input[type="submit"], input[type="reset"] {
        background: none;
        color: black;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        padding: 20px;

}
a{

    background: none;
    color: red;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.title{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #F7F7F7;
}
.index{
    display: flex;
    justify-content: center
}
li {
    list-style: none;
}

.header {
    display: compact;
    text-align: center;
}

.header .current-date {
    color: #444;
    display: inline-table;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 6px;
    padding-right: 6px;
    min-width: 25%;
}

.header .back-to-current {
    display: inline;
    color: #444;
    font-size: 1.25em;
    font-weight: 700;
}

.header .back-to-current a {
    color: #444;
    text-decoration: underline;
}

.header a {
    text-decoration: none;
}


.color-picker {
    padding: 0;
}

.smaller {
    padding: 0px 3px 2px 3px;
    font-size: 12px;
}


.calendar-header {
    color: red;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
    border-left: #DADCE0 1px solid;
}

.weekday-header {
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
  color: red;
  padding: 3px;
  margin: 0;
  list-style:none;
  flex-grow: 1;
  flex-basis: 12%;
  overflow: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  border-top: #DADCE0 1px solid;
  border-right: #DADCE0 1px solid;
  border-bottom: 0px;
}

.calendar {
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
    color: red;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
}
a{

    text-decoration: none;
}


.button_link{
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
}
.links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 20px;
}
.link{
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 100px;
    border-right: #DADCE0 1px solid;
    border-left: #DADCE0 1px solid;
    min-height: 100px;
    text-decoration: none;
}

.day {
    color: red;
    padding: 3px;
    margin: 0;
    min-height: 120px;
    list-style:none;
    flex-grow: 1;
    flex-basis: 13.5%;
    overflow: auto;
    box-sizing: border-box;
    cursor: pointer;
    border-top: #DADCE0 1px solid;
    border-right: #DADCE0 1px solid;
    border-bottom: 0px;
}

.othermonth {
  cursor: auto;
}

span.time {
    font-size: 9px;
}

span.daynumber {
    font-size: 13.5px;
    font-weight: 400;
    color: #666;
    padding: 3px;
}

span.daynumber-current {

    font-weight: 700;
    color: #F7F7F7;
    background-color: #3EB34F;
    padding: 4px;
    border-radius: 12px;
}

.othermonth span.daynumber {
    color: #777774;
}


.accordion-hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
}

.accordion-visible {
    border-top: 1px dashed #CCC;
    margin: 0;
    padding: 0 0 2px 0;
}

.hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
}

#statusbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    z-index: 4000000;
    visibility: hidden;
    font-weight: 700;
    text-align: center;
}

.processing {
    visibility: visible !important;
    color: #F7F7F7;
    background-color: #A1D360;
}

@media screen and (max-width:650px) {

    .header-button {
        font-size: 18px;
        padding: 4px;
    }

    .header .current-date {
        font-size: 0.85em;
        padding-left: 3px;
        padding-right: 3px;
    }

    .header .back-to-current {
        font-size: 0.60em;
    }

    .day {
        color: red;
        min-height: 30px;
    }
}

footer{
    position:fixed;
    left:0;
    margin-top:10px;
    bottom:0;
    height:85px;
    width:100%;
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
}

.crear_Task{

}

.footer_x{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
}

.footer_name{
    color: #e39514;
    padding-top: 40px;
}

.footer_tfs{
    color: #e39514;
    padding-top: 5px;
}

.button_task{
    border: black 1px;
    min-width: 100px;
    padding: 10px;
}

td{
    font-size: 13.5px;
    border: black 1px;
    min-width: 100px;
    padding: 10px;
}
.task_table{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
}

.task_td{

}
.task_tr{
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
    color: black;
}

.table_profile{

    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
}
.td_profile{
    border: white 0.5px solid;
    color: black;
    font-size: 20px;
    padding: 2px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    min-width: 400px;
}

.tr_profile{

    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

    min-width: 400px;
}

.th_seed,.tr_seed,.td_seed{
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
    color: black
}

.td_seed,.th_seed{
    padding-bottom: 5px;
}

.table_seed{
    padding-top: 50px;
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
}
.index{
    padding-top: 250px;
}

.index_link{
    font-size: 20px;
    padding-bottom: 10px;
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
    color: black
}

.login,.register{
    font-size: 20px;
    padding-top:250px;
    padding-left: 800px;
}

.button_login, .button_register{
    text-align: center;
     border: white 0.5px solid;
    color: black;
    font-size: 20px;
    padding: 2px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    min-width: 150px;

    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;

}

.login td, .register td{
    font-size: 20px;
    background-color: white;
    filter:alpha(opacity=50);
    -moz-opacity:.70;opacity:.70;
}