{% extends "layout.html" %}

{% block title %} calendario {% endblock %}

{% block contenido %}
    <div class="header">
        <input type="button" class="header-button" value="+"
            onclick="window.location='/{{ calendar_id }}/{{ year }}/{{ month}}/new_task'" title="New task" />
        <input type="button" class="header-button" value="&lt;" onclick="window.location='{{ previous_month_link }}'"
            title="Previous month" />
        <input type="button" class="header-button" value="&gt;" onclick="window.location='{{ next_month_link }}'"
            title="Next month" />
        <div class="current-date">
            {{ month_name }} {{ year }}
        </div>
        {% if display_view_past_button %}
            <input id="toggle-past-events" class="toggle-past-events" type="button" value="View Past" onclick="ToggleViewPastTasks();" />
        {% endif %}
    </div>

    <ul class="calendar-header">
        {% for weekday_header in weekdays_headers %}
            <li class="weekday-header">{{ weekday_header }}</li>
        {% endfor %}
    </ul>
    <ul class="calendar" id="calendar">
        {% for day in month_days %}
            <li
                {% if day.month != month %}
                    class="day othermonth"
                {% else %}
                    class="day"
                {% endif %}
                data-year="{{ day.year }}"
                data-month="{{ day.month }}"
                data-day="{{ day.day }}">

                {% if day.day == current_day and day.month == current_month and day.year == current_year %}
                        <span class="daynumber-current">
                {% else %}
                        <span class="daynumber">
                {% endif %}
                {{ day.day }}</span>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
