{% extends "layout.html" %}

    {% block title %} contactos {% endblock %}

        {% block contenido %}
            <p>Tipo de empresa que este buscando</p>
            <form method="POST" name="contacts">
                <select>
                    {% for company in companies %}
                        <option value="{{company[0]}}">{{company[1]}}</option>
                    {% endfor %}
                </select>
                <button type="submit" ><a href="{{ url_for('companies_contacts', method="post")}}"> buscar contactos </a></button>
            </form>
            {% if contacts %}
                <hr/>
                <table>
                    <tr>
                        <td>Nombre compañia</td>
                        <td>Ayuntamiento</td>
                    </tr>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact[1] }}</td>
                            <td>{{ contact[2] }}</td>
                            <td><input type="radio" value="{{ contact[0] }}" >/td>
                        </tr>
                    {% endfor %}
                </table>
                <button><a href="{{ url_for('companies_contacts_contact')}}" methods="POST"> Ponerse en contacto </a></button>
            {% endif %}
            {% if contact %}
                <table>
                    <tr>
                        <td>Nombre propietario</td>
                        <td>Apellidos del propietario</td>
                        <td>Email</td>
                        <td>Numero de telefono</td>
                    </tr>
                    <tr>
                        {% for descrip in description %}
                            <td>{{ descrip[0] }}</td>
                            <td>{{ descrip[1] }}</td>
                            <td>{{ descrip[2] }}</td>
                            <td>{{ descrip[3] }}</td>
                        {% endfor %}
                    </tr>
                </table>
            {% endif %}
        {% endblock %}