{% extends "layout.html" %}

    {% block title %} contactos {% endblock %}

        {% block contenido %}
            <form name="contact" method="POST">
                <label>Tipo de empresa que este buscando</label>
                <br/>
                <br/>
                <label>
                    <select name="companies" id="companies">
                        {% for company in companies %}
                            <option value="{{company[0]}}">{{company[1]}}</option>
                        {% endfor %}
                    </select>
                </label>
                <br/>
                <br/>
                <button><a href="{{ url_for("contacts") }}" methods="POST" type="submit"> buscar contactos </a></button>
            </form>

        {% endblock %}