{% extends "layout.html" %}

{% block title %} contactos {% endblock %}
{% block contenido %}
    <table>
        <tr>
            <td>Nombre compañia</td>
            <td>Ayuntamiento</td>
            <td>Nombre propietario</td>
            <td>Apellidos del propietario</td>
            <td>Email</td>
            <td>Numero de telefono</td>
        </tr>
         {% for contact in contacts and user in users %}
                <tr>
                    <td>{{ contact[1] }}</td>
                    <td>{{ contact[2] }}</td>
                    {% if contact[0] == user[6] %}
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                    {% endif %}
                </tr>
         {% endfor %}
    </table>
     <button><a href="{{ url_for("companies_contacts") }}" methods="POST">volver atras </a></button>
{% endblock %}