{% extends "layout.html" %}

{% block title %} contactos {% endblock %}
{% block contenido %}
    <form action="{{ url_for("contacts") }}" method="POST">
        <table class="table_seed" >
        <tr class="tr_seed">
            <td colspan="4" class="tr_seed"> Selecciona un tipo de empresa</td>
        </tr>
        <tr class="tr_seed">
                {% for companies in companiesType %}
                   <td class="td_seed"><button type="submit" value="{{ companies[0] }}" id="companyID" name="companyID" class="button_link">{{ companies[1] }}</button></td>
                {% endfor %}
        </tr>
        </table>
    </form>

    {% if companyID %}
         <table class="table_seed">
        {% for contact in company %}
             {% if contact[3] == companyID %}
                <tr class="tr_seed">
                    <td class="td_seed">{{ contact[1] }}</td>
                    <td class="td_seed">{{ contact[2] }}</td>
                    {% for user in users %}
                        {% if contact[0] == user[6] %}
                            <td class="td_seed">{{ user[1] }}</td>
                            <td class="td_seed">{{ user[3] }}</td>
                            <td class="td_seed">{{ user[4] }}</td>
                            <td class="td_seed">{{ user[5] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {%endif %}
{% endblock %}





