{% extends "layout.html" %}
{% block title %} Crear Notas{% endblock %}
    {% block contenido %}
        {% if task %}
            <form method="POST"  action="{{ url_for("tasks_edit") }}">
                <table class="task_table">
                    <tr class="task_tr">
                        <td> <label for="nameTask"> Nombre de la Nota</label>
                        <input id="nameTask" name="nameTask" type="text" maxlength="200" required value="{{ task[1] }}"></td>
                    </tr>
                    <tr class="task_tr">
                        <td> <label for="descriptionTask">Descripcion de la nota</label>
                            <label>
                                <textarea id="descriptionTask" name="descriptionTask" required > {{ task[2] }}</textarea>
                            </label>
                        </td>
                    </tr>
                    <tr class="task_tr">
                        <td>
                            <label for ="dateTask"> Fecha de la nota</label>
                            <input id="dateTask" name="dateTask" type="date" required value="{{ task[3] }}">
                        </td>
                    </tr>
                    <tr class="task_tr">
                        <td>
                            <button type="submit" id="Enviar" name="Enviar" value="{{ task[0] }}">Enviar</button>
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            {% if form %}
                <form action="{{ url_for("tasks_create") }}" method="POST" class="login">
                    {% from "_macro.html" import showForms %}
                        {{ showForms(form) }}
                    <tr class="task_td">
                        <td ><button type="submit" class="button_link"> Enviar </button></td>
                    </tr>

                </form>
            {% endif %}
        {% endif %}
    {% endblock %}