<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Flask {% endblock %} | Calendario Agroganadero</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
        <link rel="shortcut icon" href="{{ url_for("static", filename="images/descarga.png") }}" />
</head>
<body>
    <h1>CALENDARIO AGROGANADERO</h1>
    <hr/>
    <section id="content">
         {% block content %} {% endblock %}
    </section>
    <footer>
        <ul class="calendar">
            <li>nombre De la empresa</li>
            <li><img src="{{ url_for("static", filename="images/descarga.png") }}" width="100"/></li>
            <ul class="calendar-header">
                <li> 999 999 999</li>
                <li> 999 999 999</li>
                <li> 999 999 999</li>
            </ul>
        </ul>
    </footer>
</body>
</html>