<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Flask {% endblock %} | Calendario Agroganadero</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    </head>
    <body>
        <h1>Calendario Agroganadero</h1>
        <hr/>
            <ul class="calendar">
                <li class="link">
                    <button><a href="{{url_for('calendar')}}">Inicio</a></button>
                </li>
                 <li class="link">
                    <button><a href="{{url_for('companies')}}">Contactos</a></button>
                </li>
                <li class="link">
                    <button><a href="{{url_for('profile')}}">Perfil</a></button>
                </li>
                <li class="link">
                    <button><a href="{{url_for('seeds')}}">Semillas</a></button>
                </li>
                <li class="link">
                    <button><a href="{{url_for('logout')}}">Cerrar Sesion</a></button>
                </li>
            </ul>
        <hr/>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in menssages %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
        {% endwith %}
        <section id="content">
            {% block contenido%} {% endblock %}
        </section>
    
    </body>
</html>