<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Flask {% endblock %} | Calendario Agroganadero</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for("static", filename="images/descarga.png") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    </head>
    <body>
        <h1 class="title">Calendario Agroganadero</h1>
        <hr/>
            <ul class="links">
                <li class="link">
                    <button CLASS="button_link"><a href="{{ url_for("calendar") }}">Inicio</a></button>
                </li>
                 <li class="link">
                    <button CLASS="button_link"><a href="{{ url_for("companies") }}">Contactos</a></button>
                </li>
                <li class="link">
                    <button CLASS="button_link"><a href="{{ url_for('profile') }}">Perfil</a></button>
                </li>
                <li class="link">
                    <button CLASS="button_link"><a href="{{ url_for('seeds') }}">Semillas</a></button>
                </li>
                <li class="link">
                    <button CLASS="button_link"><a href="{{ url_for('tasks') }}">Notas</a></button>
                </li>
                <li class="link">
                    <button CLASS="button_link"><a href="{{ url_for('main_logout') }}">Cerrar Sesion</a></button>
                </li>
            </ul>
        <hr/>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in menssages %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <section class="content">
            {% block contenido%} {% endblock %}
        </section>
    <footer>
        <ul class="footer_x">
            <li class="footer_name">Empresa de Ejemplo</li>
            <li><img src="{{ url_for("static", filename="images/hoja.png") }}" width="100"/></li>
            <ul class="footer_tfs">
                <li class="footer_tf">Numero CEO</li>
                <li class="footer_tf"> 999 999 999</li>
                <li class="footer_tf">Numero responsable</li>
                <li class="footer_tf"> 999 999 999</li>
            </ul>
        </ul>
    </footer>
    </body>
</html>