{% extends "indexLayout.html" %}

{% block title %} login {% endblock %}

{% block content %}

    <h1 class="title"> Inicio de Sesion</h1>

    <form method="POST" action="{{ url_for("main_login") }}" class="login">
        {% from "_macro.html" import showForms %}
            {{ showForms(form) }}
        <button class="button_link">Iniciar sesion</button>
        <br/>
        <br/>
    </form>
    <button class="button_login"><a href="{{ url_for('index') }}">Volver Atras</a></button>
    <button class="button_login"><a href="{{ url_for('main_register') }}" >Registrarse</a></button>
{% endblock %}
