{% extends "indexLayout.html" %}

{% block title %} login calendario{% endblock %} 

{% block content %}

    <h1> Inicio de Sesion</h1>

    <form method="POST" name="login">
        {% from "_macro.html" import showForms %}
            {{ showForms(form) }}
        <button><a href="{{url_for('login', method='POST')}}">Iniciar sesion</a></button>
        <br/>
        <br/>
    </form>
    <button><a href="{{url_for('index')}}">Volver Atras</a></button>
    <button><a href="{{url_for('register')}}" >Registrarse</a></button>
{% endblock %}
