{% extends "layout.html" %}

    {% block title %} perfil {% endblock %}

    {% block contenido%}
        <table>
            <tr>
                <td>
                   <p>Nombre: {{ user[1] }}</p>
                </td>
                <td>
                    <p>Apellidos: {{ user[3] }}  </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Correo: {{ user[4] }} </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Telefono: {{ user[5] }} </p>
                </td>
            </tr>
            <tr>
                <td>
                   <p>Empresa: {{ company[1] }}</p>
                </td>
                <td>
                    <p>Tipo de Empresa: {{ typeCompany[2] }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Descripcion de empresa:{{ typeCompany[2] }} </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Ayuntamiento: {{ company[2] }} </p>
                </td>
            </tr>

        </table>
{% endblock %}
