{% extends "indexLayout.html" %}

{% block title %} login calendario{% endblock %}

{% block content %}

    <h1> Registrarse </h1>

    <form method="POST">
        {% from "_macro.html" import showForms %}
            {{ showForms(form) }}
        <button><a href="{{ url_for('main_register', method="POST") }}">Registrarse</a></button>
    </form>
    <br/>
    <button><a href="{{ url_for('index') }}">Volver Atras</a></button>
    <button><a href="{{ url_for("main_login") }}" >Iniciar Sesion</a></button>
{% endblock%}
