{% extends "indexLayout.html" %}

{% block title %} Registrarse {% endblock %}

{% block content %}

    <h1 class="title">Registro</h1>

    <form method="POST" action="{{ url_for("main_register") }}" class="login">
        {% from "_macro.html" import showForms %}
            {{ showForms(form) }}
        <button class="button_link" type="submit">Registrarse</button>
        <br/>
        <br/>
    </form>
    <button class="button_login"><a href="{{ url_for('index') }}">Volver Atras</a></button>
    <button class="button_login"><a href="{{ url_for('main_login') }}" >Inicar sesion</a></button>
{% endblock %}
