{% extends "layout.html" %}

    {% block title %} seeds {% endblock %}
        <table>
            {% for seed in seeds%}
                <tr>
                    <td>
                        {% seed.name %}
                    </td>
                    <td>
                        {% seed.start_day %}
                    </td>
                    <td>
                        {% seed.end_day %}
                    </td>
                    <td>
                        {% seed.time_collection %}
                    </td>
                    <td>
                        {% seed.day_time %}
                    </td>
                    <td>
                        {% seed.description %}
                    </td>
                    <td>
                        <input type="checkbox" name="show" id="show" value="{{ seed.id }}">
                    </td>
                </tr>
            {%endfor%}
            <tr>
                <td><a href="{{ url_for('showSeeds') }}" >Mostrar semillas</a></td>
            </tr>
        </table>

    {% block content %}

{% endblock %}
