{% extends "layout.html" %}

    {% block title %} Seeds {% endblock %}
    {% block contenido %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Tiempo optimo para recolecta</th>
                <th>Tiempo de crecimiento</th>
                <th>Fecha de recojida</th>
                <th>Fecha de plantacion</th>
                <th>Descripcion</th>
            </tr>
             {% for seed in seeds %}
                <tr>
                    <td>
                        {{seed[1]}}
                    </td>
                    <td>
                        {{seed[3]}}
                    </td>
                    <td>
                        {{seed[4]}}
                    </td>
                    <td>
                        {{seed[5]}}
                    </td>
                    <td>
                        {{seed[6]}}
                    </td>
                    <td>
                        {{seed[2]}}
                    </td>
                </tr>
         {%endfor%}
            <tr>
                <td><a href="{{ url_for('calendar') }}">Volver al Calendario</a></td>
            </tr>
        </table>

    {% endblock %}
